<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>画板.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D55D86511E9C6ABA00A93F91</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D55D866A1E9C6ABB00A93F91</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D55D86751E9C6ABB00A93F91</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
